section {
    text-align: left;
}

.imagem-container {
    max-width: 350px; 
    max-height: 3500px;
    width: 350px;  
    height: 350px; 
    padding: 1rem;   
}

header{
    background-color: blue ;
    color: aliceblue;
    text-align: center;
    margin: 0%;
}